body{
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
    color: gray;
    font-weight: 400;
    font-size: 1rem; 
}

h1, h2, h3, h4, h5{
    font-family: "Oswald", sans-serif;
    font-weight: 300 !important;
    text-transform: uppercase;
}
.upper{
    text-transform: uppercase;
}

section{
    margin-right: 7.5%;
    margin-left: 7.5%;
}
section h2{
    color: #37cfa2;
    font-size: 40px;
}
.container {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.btn{
    padding: 10px 30px;
    background-color: #37CFA2;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    transition:.3s all ease-in-out;
}
.btn:hover{
    background-color: #000;
}
