body{
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
    color: gray;
    font-weight: 400;
    font-size: 1rem; 
}

h1, h2, h3, h4, h5{
    font-family: "Oswald", sans-serif;
    font-weight: 300 !important;
    text-transform: uppercase;
}


section{
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-bottom: 5%;
}

section h2{
    color: #37cfa2;
    font-size: 40px;
    line-height: 48px;
}
section h3{
    font-size: 22px;
    line-height: 27px;
}
.section-header{
    margin-bottom: 3%;
}
.container {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
}


.btn{
    padding: 15px 45px;
    background-color: #37CFA2;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    transition:.3s all ease-in-out;
}
.btn:hover{
    background-color: #000;
}
.text-black{
    color: #000;
}
i{
    font-size: 40px;
    height: 40px;
}
