// Menu

.main-nav {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    padding:25px 7.5%;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    z-index:20;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav a:first-child {
    margin-right:auto;
    font-size: 30px;
    flex-shrink:0;
}
.main-nav a:nth-of-type(n+2) {

    margin-left:30px;

}
.main-nav a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color:gray;
    transition:.3s all ease-in-out;
    font-size: 22px;
    font-weight: 200;
}
.main-nav a.active{
    color: #fff;
}
.main-nav a:hover{
    color:#fff
}
.menu-burger a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 200;
}
.menu-burger a:hover{
    color: #37cfa2!important;
}
.main-nav.scrolled {
    background-color: #fff;
    transition: background-color 200ms linear;
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-nav.scrolled a{
      color: #000;
  }
  .main-nav.scrolled .burger{
    color: #000;
  }
  .burger{
      z-index: 22;
      display: none;
  }
  @media screen and (max-width:1200px) {

    .main-nav a:not([href="index.html"]):not(.burger) {

        display: none;

    }
    .burger{
        display: block;
        color: #fff;
    }
}
.toggle-menu{
    background:#fff;
    position: absolute;
    width: 70vw;
    height: 100vh;
    top: 0;
    right: 100%;
    z-index: 25;
    padding: 20px;
    color: gray;
    a{
        padding: 10px 20px;
        display: block;
        font-size: 20px;
        color: gray;
        line-height: 1.7;
    }
    
    transition: 1s left ease-in;
}

.close-button{
    text-align: right;
}
.close-button:hover{
    cursor:pointer;
}

// Swiper
.swiper-container.home {
    width: 100%;
    height: 100vh;
    color:#fff;
    text-align: center;
    
.swiper-details{
    width: 40%;
}
.swiper-details h1{
    font-size: 48px;
}
.swiper-details p{
    font-size: 19px;
    margin-bottom: 48px;
}
@media screen and (max-width:1200px) {

    .swiper-details{
        width:100%;
        margin-top:3rem
    }
}
}



.first-slide{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2)),
     url('../img/hero_1.jpg');
}
.second-slide{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2)),
     url('../img/hero_2.jpg');
}
.swiper-slide {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem ;
           /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
  }
  .swiper-pagination-bullet{
    background-color: rgba(240, 248, 255, 0);
    border : 2px solid white;
    width: 15px;
    height: 15px;
}
.swiper-pagination-bullet-active{
    background-color: #37cfa2!important;
    border-color:#37cfa2;
}

// back to top button
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99;}
  