
// propriétés

.property{
    width: 33%;
    display: inline-block;
    padding-right: 35px;
    padding-left: 35px;

}
.property a {
    text-decoration: none;
    color: #939393;
}


.property img{
    width:100%;
    margin-bottom: 1.5rem
}
.property > .property-inner {
    position: relative; }
    .property > .property-inner:after {
      position: absolute;
      content: "";
      right: 0px;
      bottom: 0px;
      top: -20px;
      background: #000;
      width: 100%;
      z-index: -1;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden; }
  
  .property .property-details {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  
  .property h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 0; }
  
  .property p {
    margin-bottom: 0; }
  
  .property strong {
    font-weight: normal; }

.property:hover > .property-inner:after, .property:focus > .property-inner:after {
    right: -20px;
    bottom: -20px;
    opacity: 1;
    visibility: visible; }
    @media (max-width: 767.98px) {
      .property:hover > .property-inner:after, .property:focus > .property-inner:after {
        right: 0; } }
  
  .property:hover .property-details, .property:focus .property-details {
    position: relative;
    -webkit-transform: translateX(45px);
    -ms-transform: translateX(45px);
    transform: translateX(45px); }
    @media (max-width: 767.98px) {
      .property:hover .property-details, .property:focus .property-details {
        -webkit-transform: translateX(25px);
        -ms-transform: translateX(25px);
        transform: translateX(25px); } }
  
  .property:hover h3, .property:focus h3 {
    color: #fff; }
  
  .property:hover p, .property:hover strong, .property:focus p, .property:focus strong {
    color: #939393; }

    .agent{
        width: 33%;
        display: inline-block;
        padding-right: 20px;
        padding-left: 20px;
        color: #000;
        
    }
    .agent-img{
        overflow: hidden;
    }
    .agent img{
        width:100%;
        margin:0;
        
        transition: transform .5s ease;
    }

    .agent img:hover{
        transform: scale(1.1);
    }
    .agent-details{
        background-color: #37cfa2;
        padding: 1rem
    }
    .agent h3{
    font-size: 22px;
    }
    #how-it-works{
        margin:0;
        max-width: 100%;
        background-color: #37cfa2;
        text-align: center;
    }
    #how-it-works .container, #contact .container, #footer .container{
        margin-right: 7.5%;
    margin-left: 7.5%;
    }
    .work{
        width: 33%;
        display: inline-block;
        padding-right: 20px;
        padding-left: 20px;
        color: #000;
        
    }
    .work h3{
        color: #343a40;
    }
    .work p{
        line-height: 40px;
    }
    .work1, .work2{
        position: relative;
    }
    .work1::after, .work2::after{
    content: "";
    background: #000;
    height: 10px;
    top: 50%;
    position: absolute;
    left: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    }
    .news-section .section-header{
        text-align: center;
    }


    .new{
        width: 33%;
        display: inline-block;
        padding-right: 20px;
        padding-left: 20px;
    
    }
    .new-details a{
        text-decoration: none;
        color: #37cfa2;
    }
    
    
    .new img{
        width:100%;
        margin-bottom: 1.5rem
    }

    #contact{
        margin:0;
        max-width: 100%;
        background-color: #F8F9FA;
    }
    #footer{
        margin:0;
        max-width: 100%;
        background-color:#333333;
    }