.property-header{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-weight: 400;
    padding-bottom: 3rem;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2)),
     url('../img/hero_1.jpg');
        background-position:center;
         background-size: cover;
    div{
        max-width: 40%;
        color: #fff;
        margin: 0 auto;
        @media screen and (max-width: 375px){
            max-width: 100%;
        }
        h1{
            font-size: 36px;
        }
        p{
            margin-bottom: 3rem;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
.property-single{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 375px){
        flex-direction: column;
        padding-top: 40px;
    }}

.property-single-details{
    width: 40%;
    display: inline-block;
    h3{
        margin-bottom: 1.5rem;
        color: #000;
        font-weight: 300;

    }
    
}
.property-single-details.swiper{
    width: 58%;
    img{
        height: 960px;
    }
}
.details{
    padding-left: 48px;
    p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 1.7;
    }
}
.author-presentation{
    margin-top: 40px;
}
.rounded{
    width: 25%;
    border-radius: 50%
}
